#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numbers {
  font-size: 18px;
  margin: 10px 0px 10px 40px;
}

.small-input {
  font-weight: bold;
  padding: 0 5px;
  width: 2.5rem;
  height: 29px;
  border: none;
  background: none;
}

.button-grid button {
  /* width: 7rem; */
  height: 6rem;
  font-size: 1.2em;
}

.selected {
  border: 2px solid #4f4f4f;
}

.input-section {
  min-width: 19rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  height: 4rem;

  :nth-child(2) {
    border-radius: 0 5px 5px 0;
  }

  :nth-child(4) {
    background-color: #bb0000;
  }
}

.number-input {
  font-weight: bold;
  font-size: 16px;
  padding: 7px 0 7px 16px;
  width: 3rem;
  height: 26px;
  border: none;
}

.submit-button {
  background-color: green;
  color: white;
  font-weight: normal;
  border: 1px solid #4f4f4f;
  border-radius: 5px;
  margin-right: 8px;
}

.number-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  width: 98%;
}

.number-row span {
  height: 30px;
  width: 40px;
  text-align: center;
  padding: 5px;
  border: 1px solid #3b3b3b;
  border-radius: 4px;
  font-weight: 500;
}

.grayed-out {
  color: #3e3e3e;
}

.number-row .highlight {
  color: #ff4400;
  font-weight: bold;
  font-size: 17px;
}

.number-row .highlight2 {
  color: rgb(255, 234, 0);
  font-weight: bold;
  font-size: 13px;
}

.special-numbers {
  margin: 6px;
}

.special-numbers .number-row {
  margin: 2px 0;
}

.special-numbers span {
  width: 22px;
  height: 19px;
  font-size: 12px;
  padding: 0 0 2px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.draw-history {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  max-width: 28rem;
  margin-top: 1rem;
  gap: 7px;
}

.draw {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.chip {
  border: 1px solid #565656;
  padding: 4px 10px;
  font-size: 14px;
  background-color: #3c3c3c;
  flex-direction: row;
  min-width: 18px;
  text-align: center;
  font-weight: 600;
}

.read-the-docs {
  color: #888;
}

.swap-button {
  background-color: #272727;
  border: solid 2px #4b4b4b;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  padding: 5px;
  font-size: 31px;
  box-shadow: 0 2px 4px darkslategray;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.swap-button:hover {
  background-color: #65b9e6;
}

.swap-button:active {
  box-shadow: 0 0 2px darkslategray;
  transform: translateY(2px);
}

.ag-button {
  left: 5rem;
  font-size: 14px;
}

.ms-button {
  left: 1rem;
  font-size: 14px;
}

.cp2077 {
  font-size: 12px;
  position: absolute;
  top: 28px;
  left: 10rem;
}

.avowed {
  font-size: 12px;
  position: absolute;
  top: 28px;
  left: 14rem;
}

.dragonAge {
  font-size: 12px;
  position: absolute;
  top: 28px;
  left: 18.5rem;
}

.controls {
  background-color: #2f0b33;
}

.time-input-div {
  display: flex;
  justify-content: center;
  padding: 2px;
  gap: 2px;
}

.time-input {
  width: 11rem;
  padding: 20px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #1a1a1a;
}

.rating-input {
  width: 5rem;
  padding: 20px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #1a1a1a;
}

.date-button {
  margin: 1rem;
}

/* Container styled like a card, similar to your existing .card styles */
.attribute-generator {
  margin: 5rem auto;
  width: 14rem;
  text-align: center;
}

/* Style for attribute name and range */

/* Style for the generated result */
.attribute-generator .result {
  font-weight: bold;
  margin-top: 1rem;
  flex-basis: 20%;
  text-align: left;
}

.attribute-generator .attribute {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  border-bottom: 1px solid rgb(156, 156, 156);
  /* border-radius: 5px; */
  margin-bottom: 4px;
  padding: 2px;
  color: #c8bde0;
  font-weight: normal;
}

.attr-result {
  font-size: 14px;
  font-weight: 400;
}

.section-header {
  text-transform: uppercase;
  margin: 20px 0 0 0;
  color: #f2edf0;
}

.section-small-header {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 15px;
  margin: 15px 0 2px 0;
  color: #f5a17d;
}

.attribute-generator .attr-label p {
  margin: 0;
}

.match-simulator {
  padding: 1rem;
  text-align: center;
}

.odds-inputs {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.odds-inputs input {
  width: 100px;
  padding: 0.5rem;
  font-size: 12px;
}

.simulate-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.result-grid {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.result-box {
  padding: 1rem;
  width: 120px;
  /* border: 2px solid #ccc; */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12),
    0px 0px 3px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  background-color: #736c6c;
  transition: background-color 0.3s ease;
}

.result-box.highlight {
  background-color: #a00813;
  color: white;
  border-color: #222;
}

.roll-text {
  margin: 1rem 0;
  font-size: 1.1rem;
}

.result-box .interval {
  font-size: 0.8rem;
  color: white;
  margin-top: 4px;
}

@media (max-width: 500px) {
  .button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 7px;
    width: 100%;
    /* Ensure it spans the screen width */
    max-width: 1200px;
  }
}

@media (min-width: 360px) {
  .button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 7px;
  }
}

@media (min-width: 500px) {
  .button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7px;
    width: 26rem;
  }

  .button-grid :nth-child(9) {
    display: none;
  }

  .number-row {
    width: 30rem;
  }
}
