#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numbers {
  margin: 10px 0;
}

.small-input {
  font-weight: bold;
  padding:0 5px;
  width: 2.5rem;
  height: 29px;
  border: none; 
}

.button-grid button {
  width: 7rem;
  height: 6rem;
}

.selected {
  border: 2px solid #4f4f4f;
}

.input-section {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-input {
  font-weight: bold;
  padding: 7px 0 7px 20px;
  width: 3rem;
  height: 29px;
  border: none;
}

.submit-button {
  background-color: green;
  color: white;
  font-weight: normal;
  border: 1px solid #4f4f4f;
  border-radius: 0;
}

.number-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
  width: 22rem;
}

.number-row span {
  width: 20px;
  text-align: center;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}


.number-row span {
  padding: 2px;
  text-align: center;
}

.number-row .highlight {
  color: red;
  font-weight: bold;
  font-size: 18px;
}

.read-the-docs {
  color: #888;
}

.korv {
  background-color: #4f4f4f;
}

@media (max-width: 360px) {
  .button-grid :nth-child(9) {
    display: none;
  }
}

@media (max-width: 500px) {

}

@media (min-width: 360px) {
  .button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7px;
  }
}

@media (min-width: 500px) {
  .button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7px;
  }

  .button-grid :nth-child(9) {
    display: none;
  }

  .number-row {
    width: 30rem;
  }
}