#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 7px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numbers {
  font-size: 18px;
  margin: 10px 0px 10px 40px;
}

.small-input {
  font-weight: bold;
  padding: 0 5px;
  width: 2.5rem;
  height: 29px;
  border: none;
  background: none;
}

.button-grid button {
  /* width: 7rem; */
  height: 6rem;
  font-size: 1.2em;
}

.selected {
  border: 2px solid #4f4f4f;
}

.input-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-input {
  font-weight: bold;
  font-size: 16px;
  padding: 7px 0 7px 16px;
  width: 3rem;
  height: 29px;
  border: none;
}

.submit-button {
  background-color: green;
  color: white;
  font-weight: normal;
  border: 1px solid #4f4f4f;
  border-radius: 0;
}

.number-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  width: 98%;
}

.number-row span {
  height: 30px;
  width: 40px;
  text-align: center;
  padding: 5px;
  border: 1px solid #3b3b3b;
  border-radius: 4px;
}

.number-row .highlight {
  color: red;
  font-weight: bold;
  font-size: 18px;
}

.number-row .highlight2 {
  color: rgb(255, 234, 0);
  font-weight: bold;
  font-size: 13px;
}

.special-numbers {
  margin: 6px;
}

.special-numbers .number-row {
  margin: 2px 0;
}

.special-numbers span {
  width: 22px;
  height: 19px;
  font-size: 12px;
  padding: 0 0 2px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.read-the-docs {
  color: #888;
}

@media (max-width: 500px) {
  .button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 7px;
    width: 100%; /* Ensure it spans the screen width */
    max-width: 1200px;
  }
}

@media (min-width: 360px) {
  .button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    gap: 7px;
  }
}

@media (min-width: 500px) {
  .button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7px;
    width: 26rem;
  }

  .button-grid :nth-child(9) {
    display: none;
  }

  .number-row {
    width: 30rem;
  }
}